@{
    Layout = null;
}

<!DOCTYPE html>
<html ng-app>
<!--
  Created using jsbin.com
  Source can be edited via http://jsbin.com/vebegoxe/14/edit
-->
<head>
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" type="text/css" />
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
    <meta charset="utf-8">
    <title>JS Bin</title>

    <style id="jsbin-css">

    </style>
</head>
<body ng-controller="MainCtrl">

    Product Name: <input type="text" ng-model="PName">
    <br>
    Quantity: <input type="number" ng-model="Qty">
    <br>
    Price: <input type="number" ng-model="Price">
    <br>

    You brought {{Qty}} <strong>{{PName}}</strong>. ( {{Price|currency}} each) <br>
    Subtotal is {{ sum(Qty, Price) |currency}}.

    <br>

    <input type="button" value="Add to Cart"
           ng-click="AddToCart()">

    <input type="button" value="Clear"
           ng-click="ClearCart()">

    <input type="button" value="Undo"
           ng-click="Undo()">
    <input type="button" value="Save"
           ng-click="Save()">
    <br>

    <br>

    <!-- {{ Carts }} -->

    <table class="table">
        <tr>
            <th>Func.</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Subtotal</th>
        </tr>
        <tr ng-repeat="item in Carts">
            <td>
                <input type="button" value="DEL"
                       ng-click="Delete($index);">
            </td>
            <td>{{item.PName}}</td>
            <td>
                <input type="number" style="width: 40px"
                       ng-model="item.Qty" ng-change="pushstate()">
            </td>
            <td>{{item.Price | currency}}</td>
            <td>{{sum(item.Qty, item.Price) | currency}}</td>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th>Total: </th>
            <th>{{ Total() | currency}}</th>
        </tr>
    </table>

    <script>
function MainCtrl($scope, $http)
{
  $scope.PName='Tesla';
  $scope.Qty=1;
  $scope.Price=110000;

  $scope.Carts = [{"PName":"Tesla","Qty":1,"Price":110000},
                  {"PName":"Tesla 2","Qty":3,"Price":110000}];

  $scope.history = [];


  $scope.sum = function(Qty, Price)
  {
    if(Qty >= 10) {
      return Qty * Price * 0.8;
    } else {
      return Qty * Price;
    }
  };

  $scope.ClearCart = function()
  {
    $scope.Carts = [];

    $scope.pushstate();
  };

  $scope.AddToCart = function() {
    var item = {};

    item.PName = $scope.PName;
    item.Qty = $scope.Qty;
    item.Price = $scope.Price;
    item.Subtotal = $scope.sum(item.Qty, item.Price);

    $scope.Carts.push(item);

    $scope.pushstate();

  };

  $scope.Undo = function() {

    var current = $scope.history.pop();

    if(typeof(current) != "undefined")
    {
      if($scope.history.length > 0)
      {
        console.log($scope.history);
        $scope.Carts = $scope.history[$scope.history.length - 1];
      }
    }

    //angular.copy($scope.backup, $scope.Carts);

  };

  $scope.Total = function() {

    var total = 0, item, i;

    for (i in $scope.Carts)
    {
      item = $scope.Carts[i];
      //console.log(item)
      total = total + $scope.sum(item.Qty, item.Price);
    }

    /*
    var len = $scope.Carts.length;
    for(var i=0; i< len; i++)
    {
      total = total + $scope.sum($scope.Carts[i].Qty, $scope.Carts[i].Price);
    }
    */

    return total;

  };

  $scope.Delete = function(i)
  {
    $scope.Carts.splice(i, 1);

    $scope.pushstate();
  };

  $scope.pushstate = function()
  {
    $scope.backup = [];
    angular.copy($scope.Carts, $scope.backup);
    $scope.history.push($scope.backup);
  };

  $scope.pushstate();

  $scope.Save = function() {
      $http.post('@Url.Action("Save", "Home")', $scope.Carts)
        .success(function(data) {
            console.log(data);
        });
  };

}
    </script>
    <script src="http://static.jsbin.com/js/render/edit.js?3.14.1"></script>
    <script>jsbinShowEdit({"static":"http://static.jsbin.com","root":"http://jsbin.com","csrf":"RsIxVRRvfV3n/YYBJa7w17DK"});</script>
    <script>
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-1656750-34']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
})();
    </script>
</body>
</html>